{% extends 'base.html' %}

{% block nav_ul %}
{% endblock %}

<div class="" id="about_nav">
    <div class="">
        <ul class="nav">
            <li class="active">
                <a href="#origin">由来</a>
            </li>
            <li>
                <a href="#vision">愿景</a>
            </li>
            <li>
                <a href="#work">掌控大学生活</a>
            </li>
            <li>
                <a href="#deal">保密协议</a>
            </li>
            <li>
                <a href="#rule">社区公约</a>
            </li>                
        </ul>
    </div>
</div>

<div id='about_body' data-spy="scroll" data-target="#about_nav" data-offset="20" style="">
    <div id="origin">
        <h1>由来</h1>
        <p>---------------------------------------------------------------------</p>
        <p>----------------------------------------------------------------</p>
        <p>----------------------------------------------------------</p>
        <p>------------------------------------------------------</p>
        <p>--------------------------------------------------</p>
        <p>----------------------------------------------</p>
        <p>------------------------------------------</p>
        <p>-------------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
    </div>
    <div id="vision">
        <h1>愿景</h1>
        <p>---------------------------------------------------------------------</p>
        <p>----------------------------------------------------------------</p>
        <p>----------------------------------------------------------</p>
        <p>------------------------------------------------------</p>
        <p>--------------------------------------------------</p>
        <p>----------------------------------------------</p>
        <p>------------------------------------------</p>
        <p>-------------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
    </div>
    <div id="work">
        <h1>掌控大学生活</h1>
        <p>---------------------------------------------------------------------</p>
        <p>----------------------------------------------------------------</p>
        <p>----------------------------------------------------------</p>
        <p>------------------------------------------------------</p>
        <p>--------------------------------------------------</p>
        <p>----------------------------------------------</p>
        <p>------------------------------------------</p>
        <p>-------------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
    </div>
    <div id="deal">
        <h1>保密协议</h1>
        <p>---------------------------------------------------------------------</p>
        <p>----------------------------------------------------------------</p>
        <p>----------------------------------------------------------</p>
        <p>------------------------------------------------------</p>
        <p>--------------------------------------------------</p>
        <p>----------------------------------------------</p>
        <p>------------------------------------------</p>
        <p>-------------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
    </div>
    <div id="rule">
        <h1>社区公约</h1>
        <p>---------------------------------------------------------------------</p>
        <p>----------------------------------------------------------------</p>
        <p>----------------------------------------------------------</p>
        <p>------------------------------------------------------</p>
        <p>--------------------------------------------------</p>
        <p>----------------------------------------------</p>
        <p>------------------------------------------</p>
        <p>-------------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
        <p>----------------------------------</p>
    </div>
</div>
