<!DOCTYPE html>
<html>
  <head lang='zh-CN'>
    <title>{% block title %}{% endblock %}</title>  
    <meta charset="utf-8" />
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/my_css.css" rel="stylesheet" media="screen">
    <!--<link rel='shortcut icon' href='{{STATIC_URL}}img/logo.ico'>-->
	{% block moreStyle %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% endblock %}
    <style>
    body{font-family:"Microsoft YaHei","Microsoft YaHei UI","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
    pre code { background: transparent; }
    </style>	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- navbar -->
        <div class="navbar navbar-inverse" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class=''>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hand_over font-30 pull-left" href='/index/'>安居水电</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              {% block nav_ul %}
                <ul class="nav navbar-nav">
                                 
                </ul>
              {% endblock %}
              
              {% block welcome %}          
              {% endblock %}             
              <!-- /.navbar-collapse -->
            </div>
        </div>

    <!-- main body of the html -->
    {% block body %}
        {% block upbody %}
		{% endblock %}
        {% block mainbody %}
        {% endblock %}
        
    {% endblock %}
    
    
	

    <!-- Modal -->
    <div class="modal fade" id="nothing_for_version" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id='modal_nothing' class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
              
          </div>
          
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.scrollUp.min.js"></script>
    <script src="{{STATIC_URL}}js/my_scripts.js"></script>
  </body>
</html>